<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
         backupGlobals               = "false"
         backupStaticAttributes      = "false"
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         processIsolation            = "false"
         stopOnFailure               = "false"
         syntaxCheck                 = "false">

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="MYSQL_HOST" value="mysql"/>
        <env name="MYSQL_PORT" value="3306"/>
        <env name="MYSQL_DATABASE" value="amsguitars"/>
        <env name="MYSQL_ROOT_USER" value="root"/>
        <env name="MYSQL_ROOT_PASSWORD" value="ams123guitars%%%"/>
        <env name="MYSQL_USER" value="amsguitars"/>
        <env name="MYSQL_PASSWORD" value="ams123guitars%"/>
        <env name="MYSQL_SOCKET" value="/var/run/mysqld/mysqld.sock"/>
    </php>

</phpunit>